<%- include("partials/header") %>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Feed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>

<body>



    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-5 bg-white rounded">
            <a class="navbar-brand" href="#">
                <img src="/assets/icons/url_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" />
                Welcome students</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="#"> Features </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student/signout">Sign Out</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div>
            All posts
        </div>

        <div class="container-fluid" id="main-links" style="margin-top: 30px;">
            <div>
                <div class="row">
                    <% posts.forEach(post => { %>
                    <!-- post with pdf, image and text -->
                    <div class="col-sm-12 col-md-6 col-lg-4">

                        <div class="card-deck text-center">
                            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: auto;">
                                <div class="card-body">

                                    <% if (post.thumbnails.length === 0) { %>
                                    <img src="/images/student.svg" alt="image" class="card-img-top" height="300px" />
                                    <% } else { %>
                                    <img src="https://tkietbackend.herokuapp.com/<%= post.thumbnails[0].replace(/\\/, '/')  %>"
                                        alt="" class="card-img-top" height="300px" />
                                    <% } %>
                                    <h5 class="card-title text-truncate">
                                        <%= post.title %>
                                    </h5>
                                    <p class="card-text text-truncate">
                                        <strong> <%= post.description %></strong>
                                        <a class="text-truncate" style="
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                                overflow: hidden;
                                                " target="_blank">
                                        </a>
                                    </p>
                                    <a href="/student/feed/post/<%= post._id %>" class="btn btn-primary">
                                        Details
                                    </a>
                                    <% if (post.files.length) { %>
                                    <a href="https://tkietbackend.herokuapp.com/<%= post.files[0] %>"
                                        class="btn btn-warning">
                                        Download Attachment
                                    </a>
                                    <% } %>
                                    <hr>
                                    <p class="text-muted"> Post type: <%= post.type %></p>
                                    <p class="text-muted"><%= post.createdAt.toDateString() %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous">
            </script>
</body>

</html>
<%- include("partials/footer") %>